* {
	box-sizing: border-box;
}

html {
	height: 100%;

	font-family: sans-serif;
	background-color: #86A1FF;
}

body {
	margin: 0;
	height: 100%;

	display: flex;
	flex-direction: column;
}

body>header {
	flex-grow: 0;
	height: 8em;

	background-color: #3A55B4;
}

body>main {
	flex-grow: 1;
	padding: 1em 0;

	display: flex;
	align-items: stretch;
	justify-content: center;
}

body>main>.container {
	width: 80%;
	padding: 1.5em;

	background-color: #FFFFFF80;
	border-radius: 1em;
}

.question.container {
	display: flex;
	flex-direction: column;
}

.question.container>main {
	flex-grow: 1;
}

.question.container>nav {
	flex-grow: 0;
	height: 4em;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 4em;
}

button.nav {
	display: inline-block;
	width: 10em;
	height: 3em;

	border: none;
	background-color: #FFFFFF99;
	border-radius: 1.5em;
}